/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *  `em` units.
 */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active, a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Addresses styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *  Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *  Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *  Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */ }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

@font-face {
  font-family: 'Biko';
  src: url("../fonts/Biko_Regular.otf") format("truetype"); }

@-webkit-keyframes slide {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes slide {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

html {
  height: 100%; }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  display: -webkit-box;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column; }
  body.active {
    overflow-x: hidden; }

main {
  -webkit-box-flex: 1;
  flex: 1 0 auto; }
  main:after {
    content: '\00a0';
    display: block;
    margin-top: var(--space);
    height: 0px;
    visibility: hidden; }

a {
  text-decoration: none; }

ul {
  padding: 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  flex-flow: nowrap;
  list-style: none;
  margin-top: 10px; }

h3 {
  font-size: 33.75px;
  margin: 0;
  font-weight: 300;
  line-height: 1; }

p {
  line-height: 1.2; }

.wrapper {
  max-width: 970px;
  margin: 0 auto;
  padding: 0 1%; }

header {
  background: url(../images/up.jpg) no-repeat;
  background-size: cover;
  -webkit-box-flex: 0;
  flex: none;
  background-position: bottom center;
  overflow: auto; }

.nav {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  flex-flow: nowrap;
  margin-top: 30px;
  margin-bottom: 50px; }
  .nav .nav-anchor {
    padding: 5px 30px;
    color: #000;
    font-size: 18px; }
    .nav .nav-anchor:hover {
      opacity: 0.7; }
  .nav .nav-item {
    border: 2px solid #000; }

@media (min-width: 560px) and (max-width: 730px) {
  .nav-hidden {
    display: none; } }

@media (min-width: 320px) and (max-width: 559px) {
  .nav-hidden {
    display: none; } }

.nav-logo {
  position: relative; }
  .nav-logo span {
    color: #000;
    position: absolute;
    font-size: 27.5px;
    top: 8px;
    left: 46px;
    font-family: 'Biko'; }

.footprint {
  position: relative; }

.footprint-hidden {
  display: none; }

.footprint-item {
  position: absolute;
  background: url(../images/footprint.png) no-repeat;
  width: 47px;
  height: 53px;
  -webkit-transform: rotate(-118deg);
  transform: rotate(-118deg);
  right: calc(50% - 100px);
  top: 62px;
  -webkit-animation-name: slide;
  animation-name: slide;
  -webkit-animation-timing-function: cubic-bezier(0, 0, 1, 1.01);
  animation-timing-function: cubic-bezier(0, 0, 1, 1.01);
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  opacity: 0; }
  .footprint-item:nth-child(2) {
    -webkit-transform: rotate(-124deg);
    transform: rotate(-124deg);
    top: 41px;
    right: calc(50% - 227px);
    -webkit-animation-delay: .5s;
    animation-delay: .5s;
    -webkit-animation-duration: 2.5s;
    animation-duration: 2.5s; }
  .footprint-item:nth-child(3) {
    -webkit-transform: rotate(-97deg);
    transform: rotate(-97deg);
    top: 80px;
    right: calc(50% - 350px);
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    -webkit-animation-duration: 2s;
    animation-duration: 2s; }
  .footprint-item:nth-child(4) {
    -webkit-transform: rotate(-53deg);
    transform: rotate(-53deg);
    top: 150px;
    right: calc(50% - 431px);
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s; }
  .footprint-item:nth-child(5) {
    -webkit-transform: rotate(-32deg);
    transform: rotate(-32deg);
    top: 240px;
    right: calc(50% - 480px);
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-duration: 1s;
    animation-duration: 1s; }
  .footprint-item:nth-child(6) {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    top: 320px;
    right: calc(50% - 485px);
    -webkit-animation-delay: 2.5s;
    animation-delay: 2.5s;
    -webkit-animation-duration: .5s;
    animation-duration: .5s; }

.header-logo {
  margin-left: 5%; }

.header-title {
  margin-left: 8%;
  font-weight: 300;
  font-size: 36px;
  margin-top: 0; }
  @media (min-width: 320px) and (max-width: 559px) {
    .header-title {
      font-size: 33px; } }

.header-text {
  text-align: center;
  margin-bottom: 90px;
  font-size: 24px;
  width: 95%; }
  @media (min-width: 320px) and (max-width: 559px) {
    .header-text {
      font-size: 22px;
      width: 100%; } }

.main-item {
  background-color: #f5f9f7;
  padding: 40px 0; }
  .main-item:first-child {
    margin-bottom: 20px; }

.main-item_flex {
  display: -webkit-box;
  display: flex;
  justify-content: space-around;
  flex-flow: nowrap; }
  @media (max-width: 880px) {
    .main-item_flex {
      flex-flow: wrap; } }

.item-text {
  text-align: center;
  width: 50%; }
  @media (max-width: 880px) {
    .item-text {
      width: 100%; } }

.item-article {
  font-size: 25px; }
  @media (min-width: 320px) and (max-width: 559px) {
    .item-article {
      font-size: 23px; } }

.nav-logo .span {
  font-size: 58.77px;
  top: 18px;
  left: 96px;
  font-family: 'Biko'; }
  @media (min-width: 320px) and (max-width: 559px) {
    .nav-logo .span {
      font-size: 48px;
      top: 15px; } }

.logo-2 {
  max-width: 465px;
  width: 100%; }
  @media (min-width: 320px) and (max-width: 559px) {
    .logo-2 {
      width: 95%; } }

.item-img {
  background: url(../images/mac-screen.png) no-repeat;
  background-size: contain;
  height: 284px;
  width: 50%; }
  @media (max-width: 880px) {
    .item-img {
      max-width: 465px;
      width: 100%; } }

.img-logo {
  width: 82px;
  height: 93px; }

.logo-big {
  width: 350px; }

.btn {
  padding: 0 23px;
  background-color: #347a51;
  height: 60px;
  font-size: 30px;
  border: none;
  outline: none;
  margin-top: 28px; }

footer {
  background: url(../images/BOTTOM.jpg) no-repeat;
  background-size: cover;
  -webkit-box-flex: 0;
  flex: none;
  background-position: top center;
  overflow: auto; }
  footer p {
    text-align: center;
    font-size: 18px;
    margin-top: 50px; }
  footer a {
    text-decoration: none;
    color: #000;
    line-height: 2.7;
    font-size: 20px;
    display: block;
    height: 100%; }
  footer ul {
    margin-top: 95px;
    justify-content: space-around; }
    @media (min-width: 320px) and (max-width: 559px) {
      footer ul {
        flex-flow: wrap; } }
    footer ul .footer-item {
      background: url(../images/sprite.png) no-repeat;
      width: 47px;
      height: 46px; }
      footer ul .footer-item:hover {
        opacity: 0.7; }
      footer ul .footer-item:last-child {
        background-position: 0 -101px; }
      footer ul .footer-item:nth-child(4) {
        background-position: 0 -50px;
        height: 47px; }

#hamburger {
  float: right;
  display: none;
  height: 38px;
  width: 35px;
  position: relative;
  top: 30px; }
  @media (min-width: 560px) and (max-width: 730px) {
    #hamburger {
      display: block;
      top: 5px; }
      body.active #hamburger .span {
        background-color: transparent; }
        body.active #hamburger .span:before {
          top: 0;
          -webkit-transform: rotate(45deg);
          transform: rotate(45deg); }
        body.active #hamburger .span:after {
          top: 0;
          -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg); } }
  @media (min-width: 320px) and (max-width: 559px) {
    #hamburger {
      display: inline-block;
      position: absolute;
      right: 20px; }
      body.active #hamburger .span {
        background-color: transparent; }
        body.active #hamburger .span:before {
          top: 0;
          -webkit-transform: rotate(45deg);
          transform: rotate(45deg); }
        body.active #hamburger .span:after {
          top: 0;
          -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg); } }
  #hamburger .span {
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    position: absolute;
    display: block;
    content: '';
    float: left;
    background-color: #fff;
    top: 20px; }
    @media (min-width: 560px) and (max-width: 730px) {
      body.active #hamburger .span {
        background-color: transparent; } }
    @media (min-width: 320px) and (max-width: 559px) {
      body.active #hamburger .span {
        background-color: transparent; } }
    #hamburger .span:before {
      background-color: #fff;
      -webkit-transition: all 300ms ease-in-out;
      transition: all 300ms ease-in-out;
      cursor: pointer;
      border-radius: 1px;
      height: 5px;
      width: 35px;
      position: absolute;
      display: block;
      content: '';
      top: -10px; }
    #hamburger .span:after {
      background-color: #fff;
      -webkit-transition: all 300ms ease-in-out;
      transition: all 300ms ease-in-out;
      cursor: pointer;
      border-radius: 1px;
      height: 5px;
      width: 35px;
      position: absolute;
      display: block;
      content: '';
      bottom: -10px; }

.menu {
  width: 300px;
  position: fixed;
  right: -300px;
  height: 100%;
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
  background-color: #95e1d3; }
  .menu .menu__list {
    padding: 0;
    display: block; }
    .menu .menu__list .menu__item {
      display: block;
      padding: 20px;
      border-bottom: 1px solid #fff; }
      .menu .menu__list .menu__item a {
        text-decoration: none;
        text-transform: uppercase;
        color: #fff;
        font-size: 15px; }
        .menu .menu__list .menu__item a:hover {
          color: #fce38a; }
  @media (min-width: 560px) and (max-width: 730px) {
    body.active .menu {
      right: 0; } }
  @media (min-width: 320px) and (max-width: 559px) {
    body.active .menu {
      right: 0; } }

.all {
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease; }
  @media (min-width: 560px) and (max-width: 730px) {
    body.active .all {
      -webkit-transform: translateX(-300px);
      transform: translateX(-300px); } }
  @media (min-width: 320px) and (max-width: 559px) {
    body.active .all {
      -webkit-transform: translateX(-300px);
      transform: translateX(-300px); } }
